/* 底部 */
.zixun_footers {
	width: 100%;
	height: 110px;
	background: #1B55A9;
	overflow: hidden;
	min-width: 1200px;
}

.zixun_footers_content {
	width: 1200px;
	height: 150px;
	text-align: center;
	margin: -2px auto;
}

.zixun_footers_content ul {
	margin: 25px 0;
	color: #fff;
	font-size: 14px;
}

.zixun_footers_content ul li {
	height: 20px;
	line-height: 20px;
}

.zixun_footers_content ul li a {
	color: #fff;
	text-decoration: none;
}

.zixun_footers_content ul:nth-child(1) {
	height: 50px;
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

.zixun_footers_content ul:nth-child(2) {
	width: 505px;
	margin: 0 auto;
	text-align: center;
}

.zixun_footers_content ul:nth-child(1) li {
	width: 130px;
	height: 50px;
	text-align: right;
	margin: 0 10px;
	line-height: 50px;
}

.zixun_footers_content ul:nth-child(1) li:nth-child(1) {
	float: left;
	background: url(../image/home/footer_notice.png) left 30px center
		no-repeat;
	background-size: 25% 61%;
}

.zixun_footers_content ul:nth-child(1) li:nth-child(2) {
	float: left;
	background: url(../image/home/footer_proposal.png) left 28px center
		no-repeat;
	background-size: 25% 61%;
}

.zixun_footers_content ul:nth-child(1) li:nth-child(3) {
	float: left;
	background: url(../image/home/footer_contact.png) left 28px center
		no-repeat;
	background-size: 25% 61%;
}

.bottom_choice {
	display: flex;
}