@charset "utf-8";
body,dd,dl,dt,h1,h2,h3,h4,h5,h6,li,p,ul {
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none;
}
img{
	border: none;
	cursor: pointer;
}
input{
	font-family: "微软雅黑";
	outline: none;
}
button{
	transition: none!important;
}
.clearfix:after {
	content: "\200b";
	clear: both;
	display: block;
	height: 0;
}
/* index start */
/* 中间部分start */
/* .quesContent{
	border-top:1px solid #ccc;
} */
.Center{
	width:1200px;
	margin:0 auto;
}
.center{
	padding-bottom:100px;
	width: 1200px;
	margin:0 auto;
}
.headerContent{
	width:1200px;
	margin:25px auto;
	}
 #submit_btn {
    width: 30px;
    height: 20px;
    color: #fff;
    background: rgb(27,85,169);
    font-size: 14px;
    font-family: Microsoft YaHei;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    
} 
.dynamictext{height:45px;}
.dynamictext_list{height:45px;overflow:hidden;}
.maquee ul li{
	font-size:15px;
	font-family: Microsoft YaHei;
	text-align:left;
	padding-left:20px;
}
#zixun{
	background:#1B55A9;}
	
#two{
  border-bottom: 1px solid #fff;
		    padding-bottom: 10px;
		    color: #fff;
		    display: inline-block;
		    width: 90%;
		    height: 65%;
  }
.zixun_main_search{
	width:1200px;
	height:44px;
	overflow:hidden;
	margin:0 auto;
}
.zixun_main_search input{
	width:912px;
	height:37px;
	float:left;
	font-size:17px;
	outline:none;
	padding-left:5px;
}
.consultation{
	width: 140px;
    height: 41px;
    color: #fff;
    background: rgb(27,85,169);
    font-size: 18px;
    font-family: Microsoft YaHei;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left:29px;
    text-align: center;
    border-radius: 2px;
}
.sharetation{
	width: 140px;
    height: 41px;
    color: #fff;
    background: rgb(27,85,169);
    font-size: 18px;
    font-family: Microsoft YaHei;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 -11px;
    text-align: center;
    border-radius: 2px;
}
.searchbtn{
	width:110px;
	height:41px;
	border:none;
	cursor: pointer;
	margin:0 0;
	background:url(../image/home/search_btn.png)rgb(39,85,169)no-repeat;
	background-position: center;
	float:left;
	outline:none;
}
.choice{
	width:1140px;
	height:150px;
	overflow:hidden;
	position: relative;
}
.choice ul li{
	float:left;
	width:190px;
	height:40px;
	line-height:40px;
	text-align:left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.choice ul li input{
	margin-top:13px;
}
.choice ul li a{
	color:black;
}
.choice_close{
	width:14px;
	height:9px;
	position:absolute;
	right:20px;
	top:0;
	bottom:0;
	margin:auto 0;
	cursor:pointer;
	background:url(../image/home/up.png)no-repeat;
	display:none;
}
.choice_open{
	width:14px;
	height:9px;
	position:absolute;
	right:20px;
	bottom:15px;
	margin:auto 0;
	cursor:pointer;
	background:url(../image/home/down.png)no-repeat;
	
}
.sure{
float: right;
    width: 33px;
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
   }

  
  
.center_last{
	width: 100%;
	height: auto;
	margin: 80px 0;
}
.center_last_table{
	width: 100%;
	height: auto;
}
.center_top{
	width: 100%;

}
.ex_main_left_content{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.ex_main_left_content_ul{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	border-bottom: 1px dashed #ccc;
}
.ex_main_left_content ul:nth-child(1){
	width: 100%;
	float: left;
}
.center_header img{
	vertical-align: middle;
}
.center ul li{
	line-height: 30px;
}
.center_top li{
	float: left;
}
.center_top ul li:nth-child(2){
	float: right;
	margin-right: 10px;

}
.ex_main_left_content_header{
	border-bottom: 3px solid #ccc;
	width: 100%;
	height: 30px;
}
.ex_main_left_content_header ul li{
	float: left;
}
.ex_main_left_content_header ul li:nth-child(1){
	padding-left: 20px;
	width: 120px;
}
.ex_main_left_content_header ul li:nth-child(2){
	float: right;
	margin-right: 10px;
	padding-right: 20px;
	background: url(../image/blue_head.png) right no-repeat;
	color: #1B55A9;
}
.center_bottom ul li{float: left; margin: 0 15px}
.center_bottom{
	width: 100%;
	height: 30px;
	margin: 12px 5px;
}
.ex_main_left_content_list{
	width: 100%;
	height: auto;
}
.center_list_button{
	height: 30px;
}
.center_list_button ul li{
	background-color: white;
	text-align: center;
	width: 70px;
	margin-left: 1px;
	cursor: pointer;
}
.center_list_button ul li a{
	line-height: 20px;
	color: black;
}
.center_list_button ul li select{
	text-align: center;
}
.center_list_button ul li:nth-child(11){
	margin-left: 0;
	
}
 .hotQuestionContainer{
 	width: 100%;
 	height: auto;
 }
/* 分页 end */ 

/* tab切换 start*/
/* 第一个表 start */
.aa {
	width: 1200px;
	height:1000px;
	margin: 0 auto;
	margin-top:25px;
}
.aa .classify {
	width:500px;
	height: 50px;
	margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.aa .classify li {
	width: 23%;
    height: 35px;
    border-radius: 5px;
    background-color:#1B55A9;
    cursor:pointer;
}
.aa .classify li button {
	width: 100%;
	height: 100%;
	line-height: 35px;
	color: white;
	text-align: center;
	display: block;
	background:  rgb(39,85,169)}
.aa .tabcon_sy {
	width: 100%;
	height: 190px;
	overflow: hidden;
}
.aa .tabcon_sy li {
	width: 100%;
	height: 100%;
}
.hidden {
	display: none;
}
.tab_list ul li a{
	padding: 0 19px;
}
.tab_list ul li span{
	padding: 0 60px;
}
.question div{
	width: 100%;
	height: auto;
}
.question ul li{
	width:1000px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.question ul li span{
	color: black;
	font-size:14px;
}
.quesContent ul li:nth-child(1){
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.quesContent ul li:nth-child(2){
	width: 160px;
	float: right;
	text-align:right;
}
.quesContent ul li:nth-child(3){
	width: 110px;
	height: 35px;
}
.quesContent ul li:nth-child(4){
	width: 110px;
	height: 35px;
}
.quesContent ul li:nth-child(5){
	width: 110px;
	height: 35px;
	
}
.quesContent ul li:nth-child(6){
	width: 500px;
	height: 35px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.quesContent ul li:nth-child(7){
	width: 73px;
	height: 35px;
	float:left;
	cursor: pointer;
}
.quesContent ul li:nth-child(7) img{
	margin-bottom: 7px;
  		margin-right: 5px;
}
.quesContent ul li:nth-child(8){
	width: 73px;
	height: 35px;
	float:left;
	cursor: pointer;
}
.quesContent ul li:nth-child(1) a{
    width: 1000px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    margin: 6px auto;
    color: black;
    background:url() no-repeat;
}
.tab_a_span{
	float: left;
	height: 48px;
	background-color: black;
	border: 1px solid #ccc;
}
.curr_one a{
	color: black;
	font-size: 20px;
}
.more{
	width: 50px;
	height: 50px;
	float: right;
}
.more a{
	color: black;
	line-height: 50px;
}
.more img{
	vertical-align: middle;
	margin-bottom: 2px;
}
/* 分页 start */

.quesContent ul li:nth-child(7).on{
	color:#1B55A9;
}
.starCountImg{
	width:120px;
	background:url(../image/home/collect_qian.png) no-repeat;
}
.question_title{
	width: 100px;
	padding-bottom: 5px;
	height: 21px;
	border-bottom-width: 100px;
	font-size: 20px;
}
.gary{
	width:1002px;
	height:2px!important;
	background:#ccc;
	margin-top:5px;
}
.pink{
	width:8%!important;
	height:2px!important;
	background:#1B55A9;
} 
.searchchoose_up{
	width:14px;
	height:9px;
	position:absolute;
	right:20px;
	top:0;
	bottom:0;
	margin:auto 0;
	cursor:pointer;
	background:url(../image/home/down.png)no-repeat;
}
.searchchoose_down{
	width:14px;
	height:9px;
	position:absolute;
	right:20px;
	top:105px;
	margin:auto 0;
	cursor:pointer;
	background:url(../image/home/up.png)no-repeat;
	display:none;
}
/*  new  */
.zixun_center_tab{
	width:1200px;
	margin:0 auto;
}

/* 导航路径 */
.path_nav{
	width:100%;
	margin-top:10px;
	height:35px;
	border-bottom:1px dashed #333;
}
.path_nav img{
	float:left;
}
.path_nav span{
	line-height:30px;
}
.nav_style{
	color: #000;
    text-decoration: none;
    font-size: 14px;
}
.nav_style:hover{
	color:#1B55A9;
}