@charset "utf-8";

.top {
	width: 100%;
	height: 100px;
	display: -webkit-box;
	position: relative;
	min-width: 1200px;
	background: rgba(255, 255, 255, 255);
}

.top .logo {
	width: 720px;
	height: 34px;
	background: url(../image/header/520.png) no-repeat;
	position: relative;
	background-size: 100% 100%;
	margin: 35px 30px;
}

.top .daohang {
	webkit-box-flex: 1;
	width: 700px;
	margin-right: 75px;
}

.top .daohang ul {
	display: webkit-box;
	list-style: none;
}

.top .daohang ul li {
	webkit-box-flex: 1;
	line-height: 100px;
	font-size: 16px;
	text-align: center;
	height: 85px;
	width: 90px;
}

.top .daohang ul li a {
	text-decoration: none;
	color: #1B55A9;
	font-size: 18px;
}

.top .daohang .two:visited {
	color: midnightblue;
}

.top .user {
	width: 185px;
	height: 100px;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
}

.user_content {
	width: 150px;
	height: 100px;
	position: absolute;
	bottom: 0;
}

.user_content div {
	float: left;
	height: 20px;
	line-height: 83px;
	color: #1B55A9;
	cursor: pointer;
	font-size: 15px;
	text-align: right;
}

.user_content div a {
	color: #1B55A9;
	font-size: 15px;
	text-decoration: none;
}

.message {
	width: 14px;
	cursor: pointer;
}

.your_meaasge span {
	color: #1B55A9;
}

.your_meaasge {
	height: 23px;
	position: absolute;
	margin-top: 55px;
	z-index: 999;
	margin-left: 15px;
}

.newss {
	color: #1B55A9;
	text-decoration: none;
	cursor: pointer;
}

/*	导航栏搜索	*/
/*new*/
.search {
	width: 145px;
	height: 30px;
	border: 1px solid #1B55A9;
	line-height: 100px;
	margin-top: 35px;
	border-radius: 7px;
	margin-left: 10px;
}

.fangdajing {
	width: 18px;
	height: 18px;
	float: left;
	margin: 6px 10px;
	cursor: pointer;
}

.find {
	float: right;
	width: 76px;
	height: 30px;
	border: none;
	border-left: 1px solid #1B55A9;
	box-sizing: border-box;
	margin: 0px 28px 0 0;
	padding-left: 8px;
	color: #1B55A9;
	resize: none;
	outline: none;
	background: none;
}

.person {
	width: 35px;
	height: 35px;
	margin-top: 22px;
}