@charset "utf-8";
body,dd,dl,dt,h1,h2,h3,h4,h5,h6,li,p,ul {
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none;
}
img{
	border: none;
	cursor: pointer;
}
input{
	font-family: "微软雅黑";
	outline: none;
}
button{
	transition: none!important;
}
.fl{
	float: left;
	width: 576px;
	height: 57px;
	background: url(../image/login/top_logo.png) no-repeat;
	background-size: 100% 78%;
	margin-top: 7px;"
}
.fr{
	float: right;
}
.clearfix:after {
	content: "\200b";
	clear: both;
	display: block;
	height: 0;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.alignC{
	text-align: center;
}
	
#container {  
	    height: 600px;  
	    width: 500px;  
	    border: 1px solid grey;  
	    overflow-y: auto;  
	}  
	.message {  
	    margin-bottom: 10px;
	    margin-right: 20px;  
	}  
	.content-time {  
	    text-align: center;  
	    margin: 10px auto;  
	}  
	.content-time-span {  
	    display: inline-block;  
	    padding: 1px 10px;  
	    background: #dcdcdc;  
	    color: #fff;  
	    border-radius: 2px;  
	}  
	.pic {  
	    float: right;  
	    width: 40px;  
	    height: 40px;  
	}  
	.pic-left {  
	    float: left;  
	    width: 40px;  
	    height: 40px;  
	}  
	.text-style {  
	    text-align: right;  
	}  
	.text-style-left {  
	    text-align: left;  
	}  
	.pos, .pos-left {  
	    margin: 0 10px;  
	    display: inline-block;  
	    position: relative;  
	}  
	.pos:after {  
	    content: "";  
	    position: absolute;  
	    top: 14px;  
	    left: 100%;  
	    border-top: 5px solid transparent;  
	    border-left: 6px solid #b2e281;  
	    border-bottom: 5px solid transparent;  
	}  
	.pos-left:before {  
	    content: "";  
	    position: absolute;  
	    top: 14px;  
	    right: 100%;  
	    border-top: 5px solid transparent;  
	    border-right: 6px solid #b2e281;  
	    border-bottom: 5px solid transparent;  
	}  
	.bubble {  
	    text-align: left;  
	    max-width: 400px; 
	    min-height: 40px;  
	    display: inline-block;  
	    vertical-align: top;  
	    background: #b2e281;  
	    border-radius: 3px;  
	}  
	.plain {  
	    padding: 9px 13px;  
	    font-size: 14px;  
	}  
	@CHARSET "UTF-8";

html {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
html::-webkit-scrollbar{
	width:0px
}
body{
	overflow-x: hidden;			
}
 ul li{
	list-style:none!important;
}
.kefu_online{
	width: 100%;
	background: url(../image/home/kefu.png) no-repeat;
	background-size:cover;
	min-height:900px;
	min-width:2000px;
}
.pic_top{
	width: 678px;
	height:145px;
	margin: 0 auto;
	padding-top:20px;
}
.pic_top img{
	width: 100%;
	height: 100%;
}
/*  主界面  */
.dialog{
    min-width:82%;
    position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	zoom:1;over; 
	overflow:hidden;
}
.popups{
	width: 100%;
    height: 455px;
    background: #fff;
    border-radius:20px 20px 0 0;
    margin: 20px auto;
}
.title{
	/* width: 100%; */
	height: 35px;
	position: relative;
	border-radius:20px 20px 0 0;
	background: -webkit-linear-gradient(left, #1E63C7 , #2C72D6,#4F96FC);
}
.title img{
	width: 37px;
    height: 65px;
    position: absolute;
    top: -88%;
    left: 1%;
}
.top_text{
	color: #fff;
    line-height: 35px;
    margin-left: 65px;
}
.number{
	color: #fff;
    font-size: 12px;
    float: right;
    line-height: 35px;
    margin-right: 55px;
}
.close{
    line-height: 30px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 1%;
    z-index:999;
    cursor:pointer;
}
.clearfix:after {
	content: "\200b";
	clear: both;
	display: block;
	height: 0;
} 
/*  对话界面  */
.content{
	height:auto;
}
.content-left_all{
	width: 76%;
	float: left;
}
.content_left{
	width: 100%;
    height: 250px;
    overflow: auto;
    margin: 4px auto;
}
.zixun{
	position: absolute;
	width:76%;
	height:26px;
}
.zixun img{
	width:190px;
	height:34px;
}
/*  税收种类  */
.content_right{
	width: 22%;
	float: right;
	height:290px;
	border-left: 1px solid #eee;
}
.hotquestion{
	width: 100%;
	height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    color: #6D91D4;
}
.tax_type{
	width: 80%;
	/* height: 215px; */
	margin: 5px auto;
}
.tallage li{
	font-size: 13px;
    line-height: 20px;
}
.tallage li a{
	color:#000;
}
/*  分页  */
.box{
	width: 80%;
    height: 25px;
   margin: 13px auto;
}
.previous,.next_page{
	display: inline-block;
    width: 23px;
    background: #eee;
    color: #fff;
    text-align: center;
    height: 23px;
    cursor: pointer;
}
.prev,.next,.page{
	list-style:none;	
	float:left;
	color:#000;
}
.page a{
	color:#000!important;
}
.prev a{
	font-size:12px;
	color:#fff;
}
.next a{
	font-size:12px;
	color:#fff;
}
.prev{
	background:#BFBFBF;
	height: 20px;
    width: 40px;
    text-align: center;
    margin-right: 12px;
    line-height: 17px;
}
.next{
	background:#BFBFBF;
	height: 20px;
    width: 40px;
    text-align: center;
    margin-left: 12px;
    line-height: 17px;
}
#demo1{
	/* position: absolute;
    bottom: 26%;
    right: 2%; */
    margin:10px auto;
    width:145px;
}
.tax_type li{
	list-style:none;
}
.tax_type li a{
	color:#000;
	font-size: 13px;
    line-height: 20px;
}
/* 发送消息 */
.foot{
	border-top: 1px solid #eee;
	height:140px;
	position:relative;
}
.post-ques{
	width: 83%;
    margin: 10px 15px;
    resize: none;
    font-family: 微软雅黑;
    font-weight: normal;
    border: none;
    float: left;
    height: 85px;
    outline:none;
}
.send{
	min-width: 75px;
    /* height: 35px; */
    border-radius: 17px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 55%;
    padding:8px 0 8px 0;
    background:#999;
}
/*	滚动条样式	*/
.innerbox{
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    height: 100%;
    padding-left: 33px;
}
/*滚动条样式*/
.innerbox::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

/* 	最小屏幕尺寸     */
@media screen and (max-width: 875px) {
	.send_message{
		width:81%;
	}
}
@media screen and (max-width: 800px) {
	#demo1{
		width:120px;
	}
	.prev,.next{
		width:35px;
	}
	.prev{
		margin-right:5px;
	}
	.next{
		margin-left:5px;
	}
	.prev a{
		font-size:11px;
	}
	.next a{
		font-size:11px;
	}
}
@media screen and (max-width: 642px) {
	.tax_type li a{
		font-size:12px;
	}
}
.@media screen and (max-height: 533px){
	.content{
		height:200px;
	}
	
}



.kefu_online{
	
	width: 100%;
    height: auto;
    background: url(../image/home/kefu.png) no-repeat;
    background-size: 100% 100%;
    min-width:2000px;
    min-height:600px;

}
.board{
	position:absolute;
	top:20px;
	left:50px;
	right:50px;
	bottom:50px;
/* 	background:white;  */
	min-width:800px;
}
.top_Img{
	position:absolute;
	left:150px;
	right:150px;
	width: 678px;
	height:145px;
	margin: 20px auto; 
	margin-top:0px;
}

.title{
	top: 175px;
	left:100px;
	right:100px;
	height: 35px;
	position:absolute;
	border-radius:20px 20px 0 0;
	min-width:800px;
	background: -webkit-linear-gradient(left, #1E63C7 , #2C72D6,#4F96FC);
}

.title img{
	width: 37px;
    height: 65px;
    position: absolute;
    top: -88%;
    left: 1%;
}
.top_text{
	color: #fff;
    line-height: 35px;
    margin-left: 65px;
}
.number{
	color: #fff;
    font-size: 12px;
    float: right;
    line-height: 35px;
    margin-right: 55px;
}
.close{
    line-height: 30px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 1%;
    z-index:999;
    cursor:pointer;
}

.all_windows{
	top: 210px;
	left:100px;
	right:100px;
	bottom: 100px;
	position:absolute;
	/* border-radius:20px 20px 0 0; */
	min-width:800px;
	background:white;
	min-height:350px;
	/* background: -webkit-linear-gradient(left, #1E63C7 , #2C72D6,#4F96FC); */
}
.chatbottomline{
	top:69.5%;
	/* left:0px;
	right:0px; */
	width:76%;
	height:1.5px;
	bottom: 0px;
	position:absolute;
	/* border-radius:20px 20px 0 0; */
	min-width:580px;
	background:#8888;
	min-height:1px;
}

 
.chatleft{
	width: 100%;
    height: 58.4%;
    overflow: auto;
    float: left;
    margin: 0px auto;
    /*  position:absolute; */
   
    
}
.chat_messages{
	margin-top: 10px;
	width:100%;
	height:70px;
	
}
	.sendright {
	position:relative;
	/* width:150px; */
	height:35px;
	background:#3e81e0;
	padding:5px 5px 0px 5px;
	border-radius:5px; /* 圆角 */
	margin:5px auto 0;
	color:white;
	font-size:14px;
	float: right;
    margin-right: 20px;
	}
	
	.sendright .arrowright {
	position:absolute;
	top:5px;
	right:-16px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 8px;
	border-color:#fff #fff #fff #3e81e0;
	}
	.pic-right{
	 float: right;  
    width: 45px;  
    height: 45px; 
    margin-right: 20px; 
    margin-top: 0px;
}

.sendleft {
	position:relative;
	/* width:150px; */
	height:35px;
	background:#3e81e0;
	padding:5px 5px 0px 5px;
	border-radius:5px; /* 圆角 */
	margin:5px auto 0;
	color:white;
	font-size:14px;
	float: left;
    margin-left:20px;
	
	}
	.sendleft .arrowleft {
    position: absolute;
    top: 5px;
    float:left;
    /* right:216px; */
    width: 0;
    height: 0;
    font-size: 0;
    margin-left: -21px;
    border: solid 8px;
    border-color:  #fff #3e81e0 #fff #fff;
}
.robot-Img {  
    float: left;  
    width: 45px;  
    height: 45px; 
    margin-left: 20px; 
    margin-top: 0px;
}  
.chatright{
	width: 23.8%;
    height: 100%;
    overflow: auto;
    float: right;
    margin: 0px auto;
    background:white;
   /*  border-left: 1.5px solid #8888; */
}
 .placeinputImgs{
	width: 100%;
    height: 20%;
    overflow: auto;
    float: left;
   
   
} 
.chatbottom{
	top:70%;
	width:75%;
	height:40px;
	left:0px;
	bottom:0px;
	position:absolute;
	/* border-radius:20px 20px 0 0; */
	 min-width:580px; 
	background:#fff;
	min-height:100px;
}
.windows_left{
    height: 100%;
    width: 76%;
    float: left;
     border-right: 1.5px solid #8888;
}