@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fl {
	float: left;
}

.box {
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	width: 955px;
	margin-left: 120px;
}

.box button {
	padding: 0 10px;
	margin: 0 10px;
	height: 40px;
	float: left;
	cursor: pointer;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	font-size: 17px;
	outline: none;
}

.box .first-page, .box .last-page {
	margin: 0;
	font-size: 17px;
}

.box .pageWrap {
	height: 40px;
	float: left;
	overflow: hidden;
}

.box .pageWrap ul {
	width: 100000px;
	height: 40px;
	float: left;
}

.box .pageWrap ul li {
	width: 60px;
	height: 40px;
	border: 1px solid #ebebeb;
	line-height: 40px;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	color: black;
	font-size: 17px;
	margin-left: 0;
}

.box .pageWrap ul .sel-page {
	background-color: #1B55A9;
	color: white;
	font-size: 17px;
}

.box .jump-text {
	width: 60px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	margin: 0 5px;
	float: left;
	font-size: 17px;
}

.box .jump-button {
	margin: 0;
	float: left;
}

.box .total-pages, .box .total-count {
	margin-left: 10px;
	float: left;
	font-size: 17px;
}