@charset "utf-8";

body, dd, dl, dt, h1, h2, h3, h4, h5, h6, li, p, ul {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: none;
	cursor: pointer;
}

input {
	font-family: "微软雅黑";
	outline: none;
}

button {
	transition: none !important;
}

.fl {
	float: left;
	width: 576px;
	height: 57px;
	background: url(../image/login/top_logo.png) no-repeat;
	background-size: 100% 78%;
	margin-top: 7px;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "\200b";
	clear: both;
	display: block;
	height: 0;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.alignC {
	text-align: center;
}

.xian1{
	width: 60%;
	height: 2px;
	background: #ccc;
	margin: 5px auto;
}
.xian2{
	width: 15%;
	height: 2px;
	background: #1B55A9;
}

.change-pass {
	width: 100%;
	background-color: #EEEEEE;
	background-size: 100% 100%;
}

.change-pass_main {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 35px 80px;
}
.change-pass_top{
	width: 48%;
	height:50px;
	line-height: 76px;
}
.title-top {
	float:60%;
	font-size: 20px;
}

.change-pass_middle {
	width: 70%;
	margin: 0 auto;
}

.change-pass_middle_m table td {
	padding-top: 40px;
	font-size: 18px;
	text-align: auto;
}

.change-pass_middle_m table td input {
	width: 350px;
	height: 40px;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 18px;
	color:#ccc;
}

.Img {
	width: 80px;
	height: 40px;
	vertical-align: middle;
	margin-left: 30px;
}
/*注册按钮*/
.change-pass_middle_btn {
	text-align: center;
}

.save_btn {
	width: 250px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background-color: #1b55a9;
	outline: none;
	cursor: pointer;
	border:1px solid #ccc;
	margin-top: 1px;
	font-size: 17px;
		
}
/*content end*/
/* footer start */
.footer {
	width: 100%;
	background-color: #1B55A9;
}

.footers {
	width: 1200px;
	margin: 0 auto;
}

.center_list {
	width: 100%;
	margin: 0 auto;
}

.center_list_center ul li {
	float: left;
	padding: 0 40px;
	font-size: 12px;
}

.center_list_center {
	width: 580px;
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
}

.center_list_center ul li a {
	margin-left: 10px;
	color: #fff;
}

.center_list_center ul li img {
	vertical-align: middle;
	width: 18%;
}


/* 导航路径 */
.daohang1 {
	width: 63%;
	margin: 10px auto;
	height: 38px;
	border-bottom: 1px dashed #333;
}

.daohang1 img {
	float: left;
}

.daohang1 span {
	line-height: 30px;
}

.modify {
	color: #000;
	text-decoration: none;
	font-size: 14px;
}

.modify:hover {
	color: #1B55A9;
}

.tiaozhuan {
	float: left;
}