@charset "UTF-8";
.dialog{ 
/* 
设置宽度 
设置边框宽度+颜色+引 
display：none表示影藏 
z-index：//保证该层在最上面显示 
*/ 
top:180px;
width: 339px; 
	height: 318px;
border: 10px #fff solid; 
position: fixed; 
display: none; 
z-index: 101; 
border-radius:10px;
} 
  
.dialog .title{ 
/* 
设置背景色 
设置内边距 
设置字体颜色 
设置字体加粗 
*/ 
background:rgba(255,255,255,1.00);  
color: #fff;   
} 
  
.dialog .title img{ 
/* 
设置元素向右浮动 
*/ 
float:right; 
} 
  
.dialog .tips_content{ 
/* 
设置背景色 
设置内边距 
设置高度 
*/ 
background: #fff; 
padding: 25px; 
height: 240px; 
} 
  
.dialog .tips_content img{ 
//float: left; 
} 
.dialog .tips_content .content_wenzi{
		padding-top: 130px;
		font-size: 20px;
		padding-left: 77px;
    color:#575757;
    font-weight:bolder;
		background:rgba(255,255,255,1.00)
	}
.dialog .content_wenzi span{ 
background: rgba(255,255,255,1.00) 

} 
  
  
.dialog .bottom{ 
/* 
设置文本向右对齐 
设置内边局 上右下左 
*/ 
text-align: right; 
padding: 10 10 10 0;  
background: rgba(255,255,255,1.00)
} 
  
.mask{ 
/* 
里面有个display：no； 
开始的时候看不到这个div的效果它主要作用是封闭整个页面 
*/ 
width: 100%; 
min-height: 1000px; 
background: #000; 
position: absolute; 
top: 0px; 
left: 0px; 
display: none; 
z-index: 100; 
  
} 
.ok_btn{ 
  
border: #666 1px solid; 
width: 90px; 
	height: 30px;
	font-size: 15px;
		text-align: center;
    color: #FFFFFF;
    font-weight:100;
	background: rgba(26,86,169,1.00)
  
} 
.jubao{ 
/* 
设置宽度 
设置边框宽度+颜色+引 
display：none表示影藏 
z-index：//保证该层在最上面显示 
*/ 
width: 550px; 
	height: 250px;
border: 10px #fff solid; 
border-radius:10px;
position: fixed; 
display: none; 
z-index: 101; 
} 
  
.jubao .ju_title{ 
/* 
设置背景色 
设置内边距 
设置字体颜色 
设置字体加粗 
*/ 
background:rgba(255,255,255,1.00);  
color: #fff;   
} 
  .jubao .ju_title img{ 
/* 
设置元素向右浮动 
*/ 
float:right; 
} 
.jubao .ju_content{ 
/* 
设置背景色 
设置内边距 
设置高度 
*/ 
background: #fff; 
height: 210px; 
} 
.jubao .ju_content .ju_content_wenzi{
		font-size: 22px;
		padding-left: 200px;
    color:#575757;
		background:rgba(255,255,255,1.00)
	}
.jubao .ju_content_wenzi span{ 
background: rgba(255,255,255,1.00) 

} 
 .ju_text{
     width: 80%;
    height: 150px;
    outline: none;
    margin-top: 15px;
    margin-left:50px;
    }
  
.jubao .ju_bottom{ 
/* 
设置文本向右对齐 
设置内边局 上右下左 
*/ 
text-align: center; 
padding: 10 10 10 0;  
background: rgba(255,255,255,1.00)
} 
.sub_btn{ 
  
border: #666 1px solid; 
width: 100px;
    height: 35px;
    margin-bottom:5px;
    font-size: 18px;
		text-align: center;
    color: #FFFFFF;
    font-weight:100;
	background: rgba(26,86,169,1.00);
    float:center;
} 
