<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServerTest1.1</display-name>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.tax.controller.userLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.tax.controller.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listShare</servlet-name>
    <servlet-class>com.tax.controller.listShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listShare</servlet-name>
    <url-pattern>/listShare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>NewFile.jsp</welcome-file>
  </welcome-file-list>
</web-app>